/*
places the side bar at the right
depends on global settings in layout.css
*/

#patternMain {
	float:left;
	overflow:hidden;
}
#patternSideBar {
	float:right;
	width:16em; /* includes left padding, see #patternSideBarContents */
	margin-right:-16em;
	position:relative;
}
.patternViewPage #patternOuter {
	border-width:16em;
	border-style:none solid none none;
	border-color:#f8f8fa;
	margin-right:0;
}