%TMPL:INCLUDE{"foswiki"}%

%TMPL:DEF{"main"}%<div id="patternScreen">%TMPL:P{"userbar"}%<div id="patternPageShadow">
<div id="patternPage">
%TMPL:P{"startsidebarwrapper"}%<div id="patternOuter">
<div id="patternFloatWrap">
<div id="patternMain">%TMPL:P{"topbarspacer"}%
<div id="patternMainContents">%TMPL:P{"logo"}%%TMPL:P{"patterntopiccontents"}%
</div><!-- /patternMainContents-->
</div><!-- /patternMain-->%TMPL:P{"sidebar"}%
</div><!-- /patternFloatWrap-->
<div class="clear">&nbsp;</div>
</div><!-- /patternOuter-->%TMPL:P{"endsidebarwrapper"}%%TMPL:P{"topbar"}%%TMPL:P{"bottombar"}%
</div><!-- /patternPage-->
</div><!-- /patternPageShadow-->
</div><!-- /patternScreen-->%TMPL:END%

%TMPL:DEF{"pngfixtraditional"}%iepngfix.js%TMPL:END%
%TMPL:DEF{"pngfixsleight"}%supersleight.js%TMPL:END%
%TMPL:DEF{"pngfixnew"}%supersleight-new.js%TMPL:END%

%TMPL:DEF{"script"}%%TMPL:P{"script:skinbase"}%%TMPL:P{"script:skintemplate"}%%TMPL:P{"script:topictemplate"}%
<!--[if lte IE 6]>
<script type="text/javascript" src="%PUBURL%/System/FoswikiDotOrgPatternSkinContrib/%TMPL:P{"pngfixsleight"}%"></script>
<![endif]-->
%TMPL:END%

%TMPL:DEF{"templatestyle"}%
<style type="text/css" media="all">
	@import url("%PUBURL%/%SYSTEMWEB%/FoswikiDotOrgPatternSkinContrib/style.css");
</style>
<!--[if lte IE 6]>
<style type="text/css" media="all">
	@import url("%PUBURL%/System/FoswikiDotOrgPatternSkinContrib/style-ie.css");
</style>
<![endif]-->%TMPL:END%