%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"top:toolbarbutton_edit"}%<span><a href="%SCRIPTURL{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$epoch"}%" title="Edit this topic" rel="nofollow" ><img src="%PUBURL%/%SYSTEMWEB%/FoswikiSiteSkin/pencil.gif" width="16" height="16" /></a></span>%TMPL:END%

%TMPL:DEF{"top:toolbarbutton_attach"}%<span><a href="%SCRIPTURL{"attach"}%/%WEB%/%TOPIC%" title="Attach files and manage existing attachments" rel="nofollow" ><img src="%PUBURL%/%SYSTEMWEB%/FoswikiSiteSkin/attach.gif" width="16" height="16" /></a></span>%TMPL:END%

%TMPL:DEF{"top:toolbarbutton_rdiff"}%<span><a href="%SCRIPTURL{"rdiff"}%/%WEB%/%TOPIC%?type=history" title="View topic history" rel="nofollow" ><img src="%PUBURL%/%SYSTEMWEB%/FoswikiSiteSkin/page_white_stack.gif" width="16" height="16" /></a></span>%TMPL:END%

%TMPL:DEF{"top:toolbarbutton_raw"}%<span><a href="%SCRIPTURL{"view"}%/%WEB%/%TOPIC%?raw=on&rev=%REVINFO{"$rev"}%" title="View raw topic text" rel="nofollow" ><img src="%PUBURL%/%SYSTEMWEB%/FoswikiSiteSkin/text_align_left.gif" width="16" height="16" /></a></span>%TMPL:END%

%TMPL:DEF{"top:toolbarbutton_view"}%<span><a href="%SCRIPTURL{"view"}%/%WEB%/%TOPIC%" title="View topic" rel="nofollow" ><img src="%PUBURL%/%SYSTEMWEB%/DocumentGraphics/viewtopic.gif" width="16" height="16" /></a></span>%TMPL:END%

%TMPL:DEF{"top:toolbarbutton_create"}%<span><a href="%SCRIPTURL{"view"}%/%WEB%/WebCreateNewTopic?topicparent=%TOPIC%" title="Create new topic" rel="nofollow" ><img src="%PUBURL%/%SYSTEMWEB%/FoswikiSiteSkin/page_white_add.gif" width="16" height="16" /></a></span>%TMPL:END%

%TMPL:DEF{"top:toolbarbutton_print"}%<span><a href="%SCRIPTURL{"view"}%/%WEB%/%TOPIC%?cover=print" title="Print this topic" rel="nofollow" ><img src="%PUBURL%/%SYSTEMWEB%/FoswikiSiteSkin/printer.gif" width="16" height="16" /></a></span>%TMPL:END%

%TMPL:DEF{"top:toolbarbutton_more"}%<span><a href="%SCRIPTURL{"oops"}%/%WEB%/%TOPIC%?template=oopsmore" title="More actions" rel="nofollow" ><img src="%PUBURL%/%SYSTEMWEB%/FoswikiSiteSkin/wrench.gif" width="16" height="16" /></a></span>%TMPL:END%

%TMPL:DEF{"top:toolbarbuttons"}%%TMPL:P{"top:toolbarbutton_edit"}%%TMPL:P{"top:toolbarbutton_attach"}%%TMPL:P{"top:toolbarbutton_rdiff"}%%IF{"defined raw" then='%TMPL:P{"top:toolbarbutton_view"}%' else='%TMPL:P{"top:toolbarbutton_raw"}'}%%TMPL:P{"top:toolbarbutton_create"}%%TMPL:P{"top:toolbarbutton_print"}%%TMPL:P{"top:toolbarbutton_more"}%%TMPL:END%

%TMPL:DEF{"breadcrumb"}%%TMPL:P{"breadcrumb:title"}%%TMPL:P{"breadcrumb:currentweb"}%%TMPL:P{"breadcrumb:parents"}%%TMPL:P{"breadcrumb:currenttopic"}%%TMPL:END%

%TMPL:DEF{"breadcrumb:currentweb"}%<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%HOMETOPIC%">%MAKETEXT{"[_1] Web" args="<nop>%WEB%"}%</a>%TMPL:END%

%TMPL:DEF{"breadcrumb:annotation"}%%IF{"defined rev" then=" %MAKETEXT{"(revision [_1])" args="%URLPARAM{"rev"}%"}%" else=" <span class='patternRevInfo'>(%REVINFO{format="$date"}%)</span>"}%%IF{"defined raw" then=" %MAKETEXT{"(raw view)"}%"}%%TMPL:END%

%TMPL:DEF{"breadcrumb:currenttopic"}%%TMPL:P{"breadcrumb:separator"}%<a href="%SCRIPTURL{view}%/%WEB%/%TOPIC%" title='%MAKETEXT{"Topic revision:"}% %REVINFO{format="$rev ($date - $time), !$wikiname"}%'>%TMPL:P{"breadcrumb:topic"}%</a>%TMPL:P{"breadcrumb:annotation"}%%TMPL:END%