%TMPL:INCLUDE{"viewtopbar"}%
%TMPL:INCLUDE{"Navigation"}% %{ loads System.FoswikiSiteSkinNavigationTemplate }%

%TMPL:DEF{"topbar"}%<div id="patternTopBar"><div id="patternTopBarContentsWrapper"><div id="patternTopBarContents">%IF{"istopic '%SYSTEMWEB%.WebTopBar'" then="$percntINCLUDE{$quot%SYSTEMWEB%.WebTopBar$quot}$percnt" else="$percntINCLUDE{$quot%SYSTEMWEB%.WebTopBarExample$quot}$percnt"}%</div><!--/patternTopBarContents-->%TMPL:P{"topbarbuttons"}%</div><!--/patternTopBarContentsWrapper--></div><!-- /patternTopBar-->%TMPL:END%